
    /* Menu de navegacion
/* ===================================================================================================== */
.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
  margin: 0 !important;
}
.navbar-default .navbar-brand {
color: #121211;
font-weight: bold;
margin: 0;
line-height: 40px;
}
.navbar-default li {
margin: 15px 20px;
}
.navbar-default .navbar-nav li a {
color: #606060;
  font-size: 12px;
  font-weight: 600;
  line-height: 40px;
  padding: 0;
}
.navbar-default .navbar-nav li a:hover {
  color: #606060;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #606060;
background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #b34d02;
background-color: transparent;
}
.navbar-default .navbar-toggle {
   border: none;
   padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #b34d02;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
background-color: transparent;
} 

                                    /*Edicion de Imagenes
========================================================================================================*/
#sliders{
  width: 100%;
  height: 600px;
}

.right {
  float:right;
  margin:10px;
  width: 630px;
  height: 350px;
}

.left{
  float: left;
  margin:10px;
  width: 630px;
  height: 350px;
}

                                        /*Edicion de texto
=====================================================================================================================*/
.text h1{
  color:rgb(179, 54, 4);
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-weight: bold;
}

#caption p{
  color: #ff6a00;
  font-size: 30px;
  font-weight: bold;
}

#caption h3{
  color:rgb(117, 9, 36);
  font-size: 40px;
  font-weight: bold;
}

.espacio h3{
  font-size: 40px;
  color: #491e47;
  font-weight: bold;
}

.espacio p{
  font-size: 30px;
  color: rgb(45, 55, 66);
  
}

.capacitador h3{
  font-size: 40px;
  color: #491e47;
  font-weight: bold;
}

.capacitador p{
  font-size: 30px;
  color: rgb(45, 55, 66);
}

  /*Seccion de contactos
============================================================================================================== */
#contact {
  background: url(https://dl.dropboxusercontent.com/s/44k4zef9pttp41o/48.jpg?dl=0) 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff !important;
}

#contact h3, #contact h5 {
  color: #ffffff;
}

#contact .form-control {
  background: transparent;
  border-color: #808080;
  border-radius: 2px;
  color: #ffffff;
  box-shadow: none;
  margin-top: 22px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-color: #ffffff;
}

#contact input {
  height: 42px;
}

#contact textarea {
  height: 106px;
}

#contact input[type="submit"] {
  background: #b34d02;
  border-color: transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 18px;
}

#contact input[type="submit"]:hover {
  background: #ffffff;
  color: #b34d02;
}

#contact .media {
  margin-top: 80px;
  margin-bottom: 30px;
}

                                      /* Derechos de autor
============================================================================================================ */
#copyright {
  background: #111112;
  color: #ffffff;
  padding-top: 38px;
  padding-bottom: 28px;
  text-align: center;
}


/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-right: 10px;
  margin-bottom: 6px;
}
.social-icon li a:hover {
  background: #b34d02;
}