      *, *:before, *:after {
          box-sizing: inherit;
        }
        * {margin:0;padding:0;border:0 none; position: relative;}
        html {
          background-image: linear-gradient(to bottom, #e6eff0 80%, #eee);
          min-height: 100%;
          background-size: cover;
          box-sizing: border-box;
          font-family: Josefin Slab, sans serif;
        }
        body {
          height: inherit;
        }

                                      /*Imagenes
=========================================================================================================*/
        article {
          width: 100%;
          height: 30px;
          background-image: url(https://dl.dropboxusercontent.com/s/q2roglqzm5jm317/fondo1.jpg?dl=0);
          padding: 15em;
        }

        #host{
          width: 100%;
          height: 500px;
          float: left;
          position: relative;
        }

        #trab{
          width: 100%;
          height: 500px;
          float: left;
          position: relative;
        }

        .right{
          float:right;
          margin:10px;
          width: 650px;
          height: 350px;
        }
        
        .left{
          float: left;
          margin:10px;
          width: 650px;
          height: 350px;
        }

                                  /*Edicion de Texto
=========================================================================================================*/
                                         
        #prin{
          color: #FB8C00;
          padding: -2em;
          margin: 0%;

        }

        h1{
          color: #FF7043;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 4em;
          text-align: center;
        }

        h2{
          color: #F57C00;
          text-align: center;
          font-size: 4em;
        }

        p{
          color: #009688;
          font-size: 2em;
          text-align: center;
        }

        .hospital p{
          position: absolute;
            color: red;
            font-size: 30px;
            margin-top: 100px;
            margin-left: 420px;
          
        }

        .hospital h1{
            position: absolute;
            color: red;
            font-size: 50px;
            margin-top: 90px;
            margin-left: 410px;
          
        }

        .trabajadores h1{
          position: absolute;
          color: red;
          font-size: 50px;
          margin-top: 90px;
          margin-left: 410px;
        }

        .trabajadores p{
          position: absolute;
            color: red;
            font-size: 30px;
            margin-top: 100px;
            margin-left: 420px;
        }

                                  /*Video header y footer
=========================================================================================================*/
        .header-container {
        height: 0;
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        }
 
       .video-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        }
 
        video {
        position: absolute;
        width: 100%;
        }

                                       /* Seccion de Imagenes
========================================================================================================= */
#portfolio {
  background: #111112;
  padding-bottom: 0px;
}

#portfolio h5 {
  color: #ffffff;
}

#portfolio .container {
  width: 100%;
  padding: 0px;
}

#portfolio .col-md-4 {
  padding: 0;
  margin: 0;
}

#portfolio .portfolio-des {
  position: relative;
  overflow: hidden;
}

#portfolio a {
  -wekbit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
}

#portfolio img {
  display: block;
  width: 100%;
  overflow: hidden;
  -wekbit-transition: all 1000ms linear;
  -moz-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

#portfolio img:hover {
  transform: scale(1.3);
  -wekbit-transition: all 5000ms linear;
  -moz-transition: all 5000ms linear;
  transition: all 5000ms linear;
}

#panels{
  background-color: #009688;
  text-align: center;
  color: #e6eff0;
}

                                    /*Seccion de contactos
============================================================================================================== */
#contact {
  background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff !important;
}

#contact h3, #contact h5 {
  color: #ffffff;
}

#contact .form-control {
  background: transparent;
  border-color: #808080;
  border-radius: 2px;
  color: #ffffff;
  box-shadow: none;
  margin-top: 22px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-color: #ffffff;
}

#contact input {
  height: 42px;
}

#contact textarea {
  height: 106px;
}

#contact input[type="submit"] {
  background: #b34d02;
  border-color: transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 18px;
}

#contact input[type="submit"]:hover {
  background: #ffffff;
  color: #b34d02;
}

#contact .media {
  margin-top: 80px;
  margin-bottom: 30px;
}

                                    /* Derechos de autor
============================================================================================================ */
#copyright {
  background: #111112;
  color: #ffffff;
  padding-top: 38px;
  padding-bottom: 28px;
  text-align: center;
}


/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-right: 10px;
  margin-bottom: 6px;
}
.social-icon li a:hover {
  background: #b34d02;
}

                                          /*BOTONES
==========================================================================================================================*/
#boton{
  background: #F57C00;
  position: absolute;
        }   

#boton {
  border: 3px solid transparent;
  border-radius: 100px;
  font-size: 20px;
  padding: 10px 28px;
  margin-top: 250px;
  margin-left: 550px;
  display: block;
}
#boton:hover {
  background: #ffffff;
  border-color: transparent;
  color: teal;
}

#btn{
  background: #F57C00;
  position: absolute;
}
 
#btn{
  border: 3px solid transparent;
  border-radius: 100px;
  font-size: 20px;
  padding: 10px 28px;
  margin-top: 250px;
  margin-left: 550px;
  display: block;
}

#btn:hover{
  background: #ffffff;
  border-color: transparent;
  color: teal;
}

#ih{
  background: #F57C00;
  position: absolute;
}

#ih{
  border: 3px solid transparent;
  border-radius: 100px;
  font-size: 20px;
 /* padding: 10px 28px;
  margin-top: 250px;
  margin-left: 550px;
  display: block;*/
}
#ih:hover{
  background: #ffffff;
  border-color: transparent;
  color: rgb(7, 80, 7);
}

#ie{
  background: #F57C00;
  position: absolute;
}

#ie{
  border: 3px solid transparent;
  border-radius: 100px;
  font-size: 20px;
  /*padding: 10px 28px;
  margin-top: 250px;
  margin-left: 550px;
  display: block;*/
}

#ie:hover{
  background: #ffffff;
  border-color: transparent;
  color: rgb(7, 80, 7);
}