    #icon {
        text-align: center;
        color: #424242;
      }
    
     #pru{
    width: 7.5em;
     }
    
    .glyphicon{
      font-size: 25px;
     }


     *, *:before, *:after {
        box-sizing: inherit;
      }
      * {margin:0;padding:0;border:0 none; position: relative;}
      html {
        background-image: linear-gradient(to bottom, #e6eff0 80%, #eee);
        min-height: 100%;
        background-size: cover;
        box-sizing: border-box;
        font-family: Josefin Slab, sans serif;
      }
      body {
        height: inherit;
      }
      article {
        height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover;  
        background-position: center;
        background-image: url(https://dl.dropboxusercontent.com/s/dcefckod8utston/principal.jpg?dl=0);
        padding: 15em;
      }
      h1 {
        color: #fff;
        font-size: 15vw;
        font-weight: 100;
        text-align: center;
        line-height: 1.5;
        width: 100%;
        background: inherit;
        z-index: 1;
      }
      h1:before {
        content:'';
        position: absolute;
        top:0;right:0;bottom:0;left:0;
        background: inherit;
        filter: blur(6px) grayscale(1);
        filter: url(#svg-blur) grayscale(.5);
        z-index: -1;
        -border-top: 10px solid blue;
        -border-bottom: 10px solid yellow;
      }
      .hide {
        display: none;
      }

      header {
        background: rgb(#B2DFDB); opacity: 0.7;
        width: 100%;
        position: fixed;
        z-index: 10;
      } 

      .text h3{
        color: #E85C11;
        font-size: 30px;
        text-align: center
      }

      .text p{
        color: #321D11;
        font-size: 20px;
        text-align:  center;
      }

      .text2 p{
        color: #321D11;
        font-size: 20px;
        text-align:  center; 
      }

      .text3 p{
        color: #321D11;
        text-align:  center;
        font-size: 20px;
      }
      
      #imagen1{
        height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover;  
        background-position: center;
        background-image: url(https://dl.dropboxusercontent.com/s/1ghf5u0n57bnlic/tarjetaintelijente.jpg?dl=0);
        padding: 15em;
      }

      #imagen2{
        height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover;  
        background-position: center;
        background-image: url(https://dl.dropboxusercontent.com/s/okcorua3je5y2ro/androidlogo.jpeg?dl=0);
        padding: 15em;  
      }